torch
torchvision
torchaudio
pyquaternion
pyyaml
pexpect
mujoco
dm_control==1.0.14
opencv-python
numpy==1.26
matplotlib
einops
packaging
h5py
ipython
diffusers
termcolor
imageio
onnx
jupyter
psutil
h5py_cache
transformers
pynvml
pyttsx3
tensorboard
transform
--extra-index-url https://download.pytorch.org/whl/cu128
